<%= content_for :screen do %>
    <h1><%= @pokemon.name %></h1>
    <img src=<%= @pokemon.image %> class = "pokemon-image-moves" />
<% end %>
<%= content_for :buttons do %>
    <%= form_with(url: pokemon_path(@pokemon.name), method: :get) do |form| %>
        <div class="search">
            <%= form.submit "", class: "strong-blue-button" %>
        </div>
    <% end %>
    <button class="green-large-button" />
    <button class="yellow-large-button" />
<% end %>
<%= content_for :moves do %>
    <h1>Moves</h1>
    <%= render @moves %>
<% end %>
<%= render "pokemons/pokedex" %>