
<body>
<div class="container">
<div class="pokeball-container">
  <%= image_tag("Pokeball.png", alt: "Pokeball", class: "pokeball") %>
</div>
    <div class="pokedex">
      <div class="top">
        <div class="color-buttons">
        <button class="blue-button"></button>
        <button class="green-button"></button>
        <button class="red-button"></button>
        <button class="yellow-button"></button>
      </div>
        <div class="screen">
            <%= yield :screen %>
        </div>
      </div>
        <div class="color-buttons-down">
          <button class="strong-blue-button"></button>
          <%= yield :buttons %>
        </div>

      <%= form_with(method: :get) do |form| %>
      <div class="search">
        <%= form.text_field :name, placeholder: "Find Pokemon" %>
        <%= form.submit "", class: "Buscar" %>
      </div>
      <% end %>

    </div>
    <div class="back-case">
      <div class="topv2">
        <div class="screenv2"></div>
      </div>
    
    </div>
  </div>


<script>
  pokeballContainer = document.querySelector(".pokeball-container");

  pokeballContainer.style.display = "flex";

  setTimeout(function () {
    pokeballContainer.style.display = "none";
  }, 500);
</script>

</body>
