<%= content_for :screen do %>
    <h1 class="pokemon-name"><%= @pokemon.name.capitalize %></h1>
    <img src=<%= @pokemon.image %>  class="pokemon-image" />
    <ul class="no-bullets">
        <li>Height: <%= @pokemon.height %> </li>
        <li>Weight: <%= @pokemon.weight %> </li>
        <li>Base Experience: <%= @pokemon.base_experience %> </li>
    </ul>
<% end %>
<%= content_for :buttons do %>
    <%= form_with(url: pokemon_moves_path(@pokemon.name), method: :get) do |form| %>
        <%= form.submit "", class: "strong-blue-button" %>
    <% end %>

    <%= form_with(method: :get) do |form| %>
        <%= form.hidden_field :contiguious, value: params[:id] %>
        <%= form.hidden_field :difference, value: -1 %>
        <%= form.submit "", class: "green-large-button" %>
    <% end %>

    <%= form_with(method: :get) do |form| %>
        <%= form.hidden_field :contiguious, value: params[:id] %>
        <%= form.hidden_field :difference, value: 1 %>
        <%= form.submit "", class: "yellow-large-button" %>
    <% end %>

<% end %>
<%= content_for :moves do %>
    <div class="logo-container">
        <%= image_tag("pokemon_logo_v3.webp", alt: "Logo", class: "rotated-image") %>
    </div>
  <% end %>
  <%= render "pokedex" %>
  